$twitter: #1DA1F2;
$rss: #f26522;
$mail: #5d5c5d;
$instagram: #e1306c;
$facebook: #3b5998;
$youtube: #ff0000;
$grey: #a2a2a2;

.container{
    .sidebar{
        margin-bottom:10px;
        padding:0 1em;
        div {
            
            display: flex;
            gap:1em;
            align-items: center;
            text-align: center;
            font-size: .85rem;
            justify-content: center;
    background: black;
    max-width: 850px;
    margin: 0 auto;
    padding: 1em;
    
            a{
                
                text-decoration: none;
                color: orange;
                font-size: .95em;
            }
            span {
                color:white;
                font-size: .95em;
            }
        }
        #info{
            margin-left: 6px;
            margin-right: 6px;
        }
        a{
            text-decoration: none;
        }
        ul{
            list-style-type: none;
            li{
                margin-bottom: 3px;
                a{
                    color: $base-color;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        img{
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 11px;
        }
        // #social::before{
        //     display: block;
        //     content: '';
        //     width: 5rem;
        //     height: 1px;
        //     margin: 23px auto;
        //     background-color: #d5d5d5;
        // }
        // #social::after{
        //     display: block;
        //     content: '';
        //     width: 5rem;
        //     height: 1px;
        //     margin: 23px auto;
        //     background-color: #d5d5d5;
        // }
        #social {
            display: flex;
                align-items: center;
                gap:.5em;
                padding:.5em;
                justify-content: center;
            a{
                color: blue;
                margin: 2px;
                
            }
            #twitter:hover{
                color: $twitter;
            }
            #rss:hover{
                color: $rss;
            }
            #envelope:hover{
                color: $mail;
            }
            #instagram:hover{
                color: $instagram;
            }
            #facebook:hover{
                color: $facebook;
            }
            #youtube:hover{
                color: $youtube;
            }
        }
    }
}